/* MAIN CSS */

@import url('https://fonts.googleapis.com/css?family=Gelasio:400,500,600,700&display=swap');
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  font-family: 'Gelasio', serif;
  text-align: center;
}

/* NAV */
nav{
  padding: 5px;
}
h1 {
  font-size: 2rem;
}
nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

/* BOOK PAGE */
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.toggle-button {
  width: 50%;
  height: 2rem;

  border-radius: 5px;

  font-size: 1rem;
  font-weight: 700;
  
}