@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

// Variables
$bg-red: #9E2116;
$bg-dark-blue: #064792;
$medium-blue: #0d7eff;
$pale-yellow: #ffecb3;
$border-gray: #888;
$dark-gray: #777;
$bg-dark-gray: #2b313a;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-red;
}

#root {
  background-color: white;
}
.main-app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  font-family: 'Heebo', sans-serif;
  
  color: #5c6a7d;

}

.navbar{
  width: 100%;
  
  font-family: 'Montserrat', sans-serif;

  text-align: center;

  color: white;
  background: $bg-dark-blue;

  h1{
    margin-bottom: 0;
    font-size: 2rem;
  }
  p{
    margin-top: 0;
  }
  
}

.subheader {
  margin: 0.4rem 0;
  text-align: center;
}

/* movie List */
.movie-list{
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  margin: 0 10% 1%;
  
  ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style-type: none;
  }
    li{
      width: 15rem;
      margin: 1rem ;
      padding: 1rem;

      color: #fff;
      background: $medium-blue;
      border-radius: 10px;

      cursor: pointer;
    }
    li:hover{
      opacity: 0.7;
      background: #66647c;
      text-decoration: line-through;
      transition: 0.4s;
    }

    .title{
      font-weight: 400;
      font-size: 1.2em;
    }
    .year{
      font-size: 0.9em;
      color: #ddd;
    }
    .director{
      font-size: 0.9em;
      color: #ddd;
    } 
  .movie-title {
    font-weight: 700;
    color: $pale-yellow;
  }
}



.movie-list > ul > li:hover {
  color: #e2d0b6;
}

.empty{
  margin: 20px;

  text-align: center;
}

// -------------- Movie Form -----------------

form.movie-form {
    width: 20vw;
    min-width: 300px;
    margin-bottom: 4vmin;
    font-size: 0.8rem;
    background: #999;
    border-radius: 10px;
    font-family: 'Heebo', sans-serif;
}

form {
  margin: 0 auto;
  padding: 0.5rem 1rem;


  input[type='text']{
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    margin: 6px 0;
    color: #fff;
    font-weight: 600;
    background: $bg-dark-gray;
    border: 0;
  }
  input[type='submit']{
      display: block;
      margin: 0.3rem auto;
      padding: 6px 20px;

      font-weight: 600;
      border: 1px solid white;
      border-radius: 5px;
      color: #fff;
      background: $medium-blue;

      &:hover {
        color: $medium-blue;
        background: lightgrey;
        border-color: $medium-blue;
        transition: 0.4s;
      }
  }

}


.filter-theme {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.4rem 0;

  font-size: 1.4rem;
  font-weight: 600;

  color: $pale-yellow;
  background: $bg-dark-gray;

  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

}
// -------------- CSS Theme Form -----------------

.theme-form {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: $bg-red;

    z-index: 5;

  form {
      width: 100%;
      margin: 1rem 0;
      background: $bg-red;
  }

  h1 {
    text-align: center;
  }

  h2 {
      font-weight: 400;
      text-align: center;
  }

}

/* Select Tag */
.select-css {
  display: block;
  width: 20rem;
  max-width: 50%;
  margin: 0 auto;
  padding: .6em 1.4em .5em .8em;
  border: 1px solid #aaa;
  
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;

	box-sizing: border-box;

	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  
  &:hover {
    border-color: $border-gray;
  }

    &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px $bg-dark-blue;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
  
}

.select-css option {
	font-weight:normal;
}

